---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/astro_resume/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/astro_resume/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/astro_resume/favicon-16x16.png"
        />
        <link rel="manifest" href="astro_resume/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="dark:bg-dark-base bg-light-base transition-colors delay-200 duration-300 m-0 min-h-screen"
    >
        <div
            class="flex flex-col items-center justify-center w-full pt-10 pb-10"
        >
            <div
                class="w-full sm:w-3/4 md:w-1/2 border-t-4 dark:border-t-dark-iris border-t-light-iris transition-all dark:bg-dark-surface bg-light-surface dark:text-dark-text text-light-text flex flex-col rounded-md shadow-md rounded-t-none"
            >
                <slot />
            </div>
        </div>
    </body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
